<script setup>
import { BeakerIcon } from "@heroicons/vue/24/solid";

const colorMode = useColorMode();
console.log(colorMode.preference);
</script>
<template>
  <ColorScheme placeholder="" tag="span">
    <div class="bg-white dark:bg-gray-900 min-h-screen duration-100">
      <LayoutsNavBar />
      <router-view />
      <LayoutsFooter />
    </div>
  </ColorScheme>
</template>
