<script setup>
import HahuLogoDark from "@/assets/svg/HahuLogoDark.svg?url";
import HahuLogo from "@/assets/svg/Hahu_logo1.svg?url";
import { ArrowLongRightIcon } from "@heroicons/vue/24/outline";
import gsap from "gsap";

const colorMode = useColorMode();
const landing_img_ref = ref(null);
const landing_text_ref = ref(null);

onMounted(() => {
  gsap.from(landing_img_ref.value, {
    delay: 0.2,
    duration: 1,
    y: "-50",
    autoAlpha: 0,
    ease: "back.out(1.7)",
  });
  gsap.from(landing_text_ref.value.children, {
    delay: 0.2,
    duration: 1,
    x: "-50",
    autoAlpha: 0,
    stagger: 0.1,
    ease: "back.out(1.7)",
  });
});
</script>
<template>
  <div
    class="min-h-screen px-4 md:px-12 xl:px-14 2xl:px-24 text-HahuGray1 max-w-[1920px] centerx"
  >
    <div
      class="flex md:flex-col lg:flex-row w-full min-h-[80vh] items-center my-auto mb-40"
    >
      <section class="flex-1 mt-14" ref="landing_text_ref">
        <div class="w-6/12 sm:w-1/4 lg:w-1/3 3xl:w-full">
          <img
            width="273"
            height="32"
            class="object-contain dark:hidden"
            src="/logo/lehagerlej_light.png"
            alt="hahuLogo"
            lazy="eager"
          /><img
            width="273"
            height="32"
            class="hidden object-contain dark:block"
            src="/logo/lehagerlej_dark.png"
            alt="hahuLogo"
            lazy="eager"
          />
        </div>
        <div class="w-full sm:w-6/12 mt-10">
          <img
            :src="HahuLogo"
            width="476"
            height="85"
            class="object-contain flex dark:hidden"
            lazy="eager"
          />
          <img
            :src="HahuLogoDark"
            width="476"
            height="85"
            class="object-contain hidden dark:flex"
            lazy="eager"
          />
        </div>
        <p class="md:text-base 3xl:text-lg dark:text-HahuGray/4 mt-20 pr-7">
          Hey there, ሰላም ነው? Welcome to HaHuJobs the largest data-driven job
          matching and labor market information platform in Ethiopia. With
          various service deployments to address the Ethiopian labor market
          needs; we stand at the forefront of the local digital job matching
          industry.
        </p>
        <div class="flex mt-14">
          <a href="#services" class="group"
            ><button
              class="flex text-sm 3xl:text-base gap-x-1 3xl:gap-x-2 items-center self-center rounded-md bg-primary px-3 py-2 3xl:py-3 3xl:px-5 text-white"
            >
              <span> Our Services </span>

              <ArrowLongRightIcon
                class="text-white w-6 group-hover:translate-x-2 duration-200"
              />
            </button>
          </a>
        </div>
      </section>
      <section class="flex-1 hidden md:flex">
        <div class="w-full mb-10" ref="landing_img_ref">
          <img
            class="object-contain"
            width="816"
            height="400"
            src="/images/person_on_chair_landing_page.png"
            loading="lazy"
          />
        </div>
      </section>
    </div>
    <LandingAbout />
  </div>
</template>
<style>
.grecaptcha-badge {
  visibility: hidden;
}
.centerx {
  margin: 0 auto !important;
}
</style>
