<script setup>
import Facebook from "@/assets/svg/Facebookfooter.svg";
import Twitter from "@/assets/svg/Twitterfooter.svg";
import LinkedIn from "@/assets/svg/LinkedInFooter.svg";
import HahuLogo from "/assets/svg/Hahu_logo1.svg?url";
import HahuLogoDark from "/assets/svg/HahuLogoDark.svg?url";
</script>
<template>
  <div class="bg-white dark:bg-DarkModeBg duration-100 ease-in">
    <div class="max-w-[1920px] centerx">
      <div
        class="mt-10 pb-10 lg:pb-0 flex flex-col flex-wrap items-center justify-between space-y-10 bg-white px-8 duration-100 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row xl:px-[100px]"
      >
        <div class="flex flex-col">
          <h1 class="mt-[27px] dark:text-HahuGray/4">Powered by</h1>
          <img
            width="162"
            height="29"
            :src="HahuLogo"
            class="mt-[13px] object-contain dark:hidden"
            alt="hahuLogoFooterIcon"
          />
          <img
            width="162"
            height="29"
            :src="HahuLogoDark"
            class="mt-[13px] hidden object-contain dark:block"
            alt="hahuLogoFooterIcon"
          />

          <img
            width="162"
            height="24"
            src="/logo/Hahu_lehagerlej_light.png"
            class="mt-[9px] mb-[41px] object-contain dark:hidden"
            alt="hahuLogoFooterIcon"
          />
          <img
            width="162"
            height="24"
            src="/logo/Hahu_lehagerlej_dark.png"
            class="mt-[9px] mb-[41px] hidden object-contain dark:block"
            alt="hahuLogoFooterIcon"
          />
        </div>
        <div
          class="flex items-center flex-col lg:mr-20 space-y-10 lg:flex-row lg:space-x-16 lg:space-y-0 xl:space-x-[85px]"
        >
          <a
            href="/#services"
            class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-100 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
          >
            Services</a
          >
          <a
            href="/#about"
            class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-100 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
          >
            About Us</a
          >
          <a
            href="/#contact"
            class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-100 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
          >
            Contact Us</a
          >
          <a
            href="/privacy"
            class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-100 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
          >
            Privacy</a
          >
        </div>
      </div>
      <hr class="border-1 w-full border-gray-100" />
      <div
        class="flex pb-5 py-4 flex-col items-center justify-end space-y-10 bg-white px-8 duration-100 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row lg:justify-between lg:space-y-0 xl:px-[100px]"
      >
        <h1 class="text-base font-medium leading-6 text-gray-400">
          © 2022 HaHuJobs. All rights reserved.
        </h1>
        <div class="md:ml-10 flex space-x-7 lg:mr-20">
          <a
            href="https://www.facebook.com/Hahujobs"
            target="_blank"
            class="text-transparent"
          >
            <Facebook alt="facebookIcon" />
            f
          </a>
          <a
            href="https://twitter.com/hahujobs"
            target="_blank"
            class="text-transparent"
          >
            <Twitter alt="TwitterIcon" />t
          </a>
          <a
            href="https://www.linkedin.com/company/hahujobs/"
            target="_blank"
            class="text-transparent"
          >
            <LinkedIn alt="LinkedInIcon" />l
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
