<script setup>
import { ArrowLongRightIcon } from "@heroicons/vue/24/outline";
import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

const headers = ref(null);
const hahu_core = ref(null);
const article = ref(null);

onMounted(() => {
  gsap.from(headers.value.children, {
    scrollTrigger: {
      trigger: headers.value,
      start: "top 80%",
      end: "bottom top",
      toggleActions: "play none none none",
    },
    duration: 1,
    y: "+100",
    opacity: 0,
    scale: 0.8,
    stagger: 0.1,
    ease: "back.out(1.7)",
  });
  gsap.from(hahu_core.value.children, {
    scrollTrigger: {
      trigger: hahu_core.value.children,
      start: "top 90%",
      end: "bottom top",
      toggleActions: "play none none none",
    },
    duration: 1,
    y: "+100",
    opacity: 0,
    scale: 0.9,
    ease: "back.out(1.7)",
  });
  gsap.from(article.value.children, {
    scrollTrigger: {
      trigger: article.value,
      start: "top 80%",
      end: "bottom top",
      toggleActions: "play none none none",
    },
    duration: 1,
    y: "+100",
    stagger: 0.1,
    opacity: 0,
    ease: "back.out(1.7)",
  });
});
</script>

<template>
  <section class="min-h-screen techTitle">
    <h1
      id="about"
      class="pt-20 text-lg font-semibold dark:text-white w-full flex justify-center"
    >
      About
    </h1>
    <div class="flex justify-center" ref="headers">
      <h2
        class="rounded-full mt-8 bg-primary-lite px-3 py-2 text-center text-base font-black text-white xs:px-8 xs:text-lg lg:px-4 lg:py-2 lg:text-xl 3xl:text-3xl"
      >
        What is HaHuJobs?
      </h2>
    </div>
    <div>
      <div
        class="flex flex-col items-center lg:mt-10 xl:flex-row overflow-hidden"
      >
        <div
          ref="hahu_core"
          class="flex overflow-hidden duration-1000 lg:w-6/12 2xl:w-6/12 lg:px-7 xl:pr-28 3xl:pr-40 justify-start"
        >
          <img
            width="668"
            height="668"
            alt="hahu core"
            loading="lazy"
            src="https://res.cloudinary.com/hahu-io/image/upload/f_webp,q_auto,w_668,h_668/v1660721932/hahuIO/images/landing/Hahu_core_light_cxt1hh.png"
            class="object-contain dark:hidden"
          /><img
            width="668"
            height="668"
            alt="hahu core"
            loading="lazy"
            src="https://res.cloudinary.com/hahu-io/image/upload/f_webp,q_auto,w_668,h_668/v1660721932/hahuIO/images/landing/Hahu_core_dark_a6fsar.png"
            class="object-contain hidden dark:block"
          />
        </div>
        <article class="mt-14 xl:w-6/12 2xl:w-6/12" ref="article">
          <p
            class="text-left md:text-justify text-lg xl:text-base 2xl:text-base 3xl:text-lg font-normal dark:text-HahuGray/4"
          >
            HaHuJobs a cloud services operating to capture structured data of
            the Ethiopian skilled and non-skilled labor market through digitally
            connecting thousands of job seekers in major Ethiopian cities as
            well as industrial parks. The platform in a collection of micro
            services grouped to compose web application modules that offer a set
            of functionalities. HaHuJobs is an electronic product sold as
            service to a category of clients as per their specific needs in the
            labor market of Ethiopia. It features various service categories
            which revolves around data driven job matching of the right
            candidate with the right job opening, student tracing, capacity
            building and assessing of Jobseekers. This platform has sub services
            tailored to the specific industries and stakeholders, but as a
            primary concept HaHuJobs has a strong biometric based jobseeker
            identification and an automated method of matching workers with
            appropriate vacancy through structured data formats.
          </p>
          <br /><br />
          <p
            show="true"
            class="text-left md:text-justify text-lg xl:text-base 3xl:text-lg font-normal dark:text-HahuGray/4"
          >
            The service is built as an ecosystem of digital services to offer a
            holistic approach to respond to various data and automation gaps
            with in the Ethiopian labor market. It features layers and network
            of deployments that provide services to various types of industry
            stakeholders like, the jobseekers, employers, the government and
            development partners.
          </p>
          <div show="true" class="mt-12 mb-14 flex">
            <a href="/AboutUs" class="group"
              ><button
                class="flex gap-x-2 items-center self-end rounded-md bg-primary px-5 py-3 text-base font-medium leading-6 text-white"
              >
                <span> More about us </span>
                <ArrowLongRightIcon
                  class="w-5 text-white group-hover:translate-x-2 duration-200"
                /></button
            ></a>
          </div>
        </article>
      </div>
    </div>
  </section>
</template>
